h1 {
    color: rgb(206, 123, 169);
}
h2 {
    color: rgb(206, 123, 169);
}
h3,
a {
    color:rgb(211, 156, 53);
    text-decoration: none;
}

body {
    color:rgb(148, 108, 34);
    background-color:rgb(240, 230, 235);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header,
footer {
    background-color:	rgb(68, 36, 48);
    text-align: center;
    padding: 20px 0;
}
.fotoLiska {
width: 100%
}

.fotoTereza {
    width: 150px;
    border-radius: 50%;
    padding: 20px 10px;
    float: left;
    margin: 0 30px 30px 0
}
.href_czechitas {
    text-decoration: none;
}
.href_github {
    text-decoration: none;
    color: rgb(148, 108, 34);
}
.zkusenosti {
    clear:left
}

section {
    padding: 20px 5%;
}

a:hover {
    color: rgb(206, 123, 169);
}
a:focus{
    color:rgb(148, 108, 34)
}
.aktualita { 
    font-size: x-large;
}
.language {
    color: rgb(211, 156, 53);
    padding-top: 10px;
}
.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(68, 36, 48);

}

.menu li {
    display: inline-block
}

.menu a {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px 20px 20px;
}
.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: rgb(17, 48, 24);
}
